.login-background {
    background-image: url(/public/assets/images/LoginBackground.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-width: 100vw;
    min-height: 100vh;
}

.login-stand {
    height: 100vh;
    background: linear-gradient(180deg, #FAFAFA 4.23%, rgba(250, 250, 250, 0) 40.75%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
}

.login-box {
    background: #FAFAFA;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.login-button {
    background: #4F46E5;
    border-radius: 5px;
    appearance: none;
    border: 0;
}

.login-button:hover {
    background: #1d49aa;
}

.login-button:focus {
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
}

.input-field {
    padding: 0px;
    margin: 0px;
}

.text-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #111827;
}

.text-normal {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #4B5563;
}

.text-bold {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}

.text-normal-light {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;

}

.link-normal {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #4F46E5;
}

.team-list-background {
    background: #fcfcfc;
}

.team-list-member {
    background: white;
}

.team-list-image {
    border-radius: 50%;
    overflow: hidden;
}

.team-share-button {
    background: #e0f2fe;
    border-radius: 5px;
    appearance: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 0;
}

.team-share-button:hover {
    background: #1d49aa;
}

.team-share-button:focus {
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
}